@font-face {
  font-family: penna;
  src: url(penna.otf);
}

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: penna; Helvetica, sans-serif;;
  overflow: hidden;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: red;
}

a:visited{
}

span#main {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
}

.contact-container{
  height: 7em;
  width:15em;
}

.portfolio-container{
  height: 10em;
  width:80vw;
  font-size: 0.8em;
}

.underline{
  font-family: penna !important;
  text-decoration: underline;
}

.container{
  background-color: white;
  z-index: 1;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  padding: 0.5em 1em;
  border: 2px solid grey;
  overflow: hidden;
  display: none;
}
.contact-container form{
  width:100%;
}

.contact-container input, textarea{
  font-size: 0.5em;
  width:100%;
  display:block;
  margin: 5px auto;
  padding: 0;
  border: 1px solid gray;
}

.button{
  padding: 3px;
  font-size: 1em !important;
  background-color: white;
  border: 0 !important;
  font-family: penna;
}

.button:hover{
  color: red;
}

.right{
  float: right;
}

#alert-box{
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 1;
  width: 92vw;
  padding: 0.1em 4vw;
  text-align: center;
  display: none;
  color: white;
}

#alert-box a{
  color: white;
}

#alert-box a:hover{
  color: black;
}

.error{
  background-color: darkred;
}

.okay{
  background-color: darkgreen;
}

#portfolio-container{}

#menu{
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
}

.letter {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: default;
  position: absolute;
  font-size: 5em;
  color: black;
  font-weight: bold;
}

.letter:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

button {
  color: black;
  background: transparent;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: penna;
  font-size: 1em;
}

button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}

button:hover {
  color: red;
}

button.hidden {
  display: none;
}

.red{
  color: red;
}
